:root {
  --cor-vermelho: #CA1C2A;
  --cor-azul-1: #0B8CED;
  --cor-azul-2: #0C4B77;
  --cor-cinza: #31353B;
  --cor-cinza-claro: #dcdcdc;
  --cor-branco: #fff;
  --fundo-cinza: rgba(242, 238, 238, 0.975);
}
.dark {
--cor-branco: #e6e6e6;
--text-dark: #ffffff;
--cor-vermelho: #324b6d;
--cor-azul-2: #868080;
--cor-cinza: #4F4F4F;
--cor-cinza-claro: #323543;
--cor-azul-1: #808080;
}
  #bloco4-tela-principal{
    padding: 20px 0px;
    margin: 50px 0px;
  }
  .visuallyhidden {
    position: absolute;
    z-index: -1;
    right: 0;
    left: 50px;
    opacity: 0;
    
  }
  
  h1 {
    color: white;
    text-align: center;
    margin-top: 1em;
  }
  span{
    font-size: 0.8rem;
  }
  p{
    font-size: 0.8rem;
  }

  .card-carousel {
    --card-width: 50%;
    --card-max-width: 410px;
    --card-height: 350px;
    --carousel-min-width: 400px;
    z-index: 1;
    position: relative;
    margin: 0 auto;
    width: 100%;
    height: var(--card-height);
    min-width: var(--carousel-min-width);
    transition: filter .3s ease;
  }
  
  @media screen and (max-width: 640px) {
    .card-carousel {
      margin-left: calc((100vw - var(--carousel-min-width) - 10px) / 2);
   
    }

  }
  
  .card-carousel.smooth-return {
    transition: all .2s ease;
  }
  
  .card-carousel .card {
    background:var(--cor-branco);
    width: var(--card-width);
    max-width: var(--card-max-width);
    text-align: center;
    padding: 0px 12px;
    min-width: 220px;
    height: var(--card-height);
    position: absolute;
    margin: 0 auto;
    color: rgba(0,0,0,.5);
    transition: inherit;
    -webkit-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.3);
    box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.3);
    border-radius: 1em;
    filter: brightness(.9);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .card.highlight {
    filter: brightness(1)
  }
  
  
  .card:nth-of-type(1) .image-container {
      background-image: url("../img/depoimento01.jpg");
  } 
  .card:nth-of-type(2) .image-container {
    background-image: url("../img/depoimento02.jpg")
  }
  .card:nth-of-type(3) .image-container {
    background-image: url("../img/depoimento03.jpg")
  }
  .image-container {
    width: 3em;
    height: 3em;
    position: relative;
    background-size: cover;
    margin-bottom: 2em;
    border-radius: 100%;
    padding: 1em;
    -webkit-box-shadow: inset 0px 0px 17px 0px rgba(0,0,0,0.3);
  -moz-box-shadow: inset 0px 0px 17px 0px rgba(0,0,0,0.3);
  box-shadow: inset 0px 0px 17px 0px rgba(0,0,0,0.3);
    
  }
  
  .image-container::after {
    content: "";
    display: block;
    width: 120%;
    height: 120%;
    border: solid 3px rgba(0,0,0,.1);
    border-radius: 100%;
    position: absolute;
    top: calc(-10% - 1px);
    left: calc(-10% - 0px);
  }