/*ÁREA CLIENTE*/
@media screen  and (max-width: 590px){
    .area-cliente-logo{
        width: 60%;
    }
    .fundo-area-cliente{
        background-image: none;
        background-color: var(--cor-azul-2);
    }
    #btn .cadastra-2{
        width: 80%;
    }
    .submit-2{
        margin-bottom: 20px;
        width: 50%;
    }
    .container{
        box-shadow: none;
    }
    .area-cliente h2{
        font-size: 1.7rem;
    }
    .area-cliente h4{
        font-size: 2rem;
    }
    .area-cliente p{
        font-size: 1rem;
    }
    #btn{
        flex-direction: column;
        margin-top: 60px;
    }
    .cliente-footer{
        display: none;
    }
}
/*MODAVO O QUE É*/
@media screen  and (max-width: 900px){
    #cpaas-modavo h2{
        font-size: 1rem;
        padding: 50px 10px;
    }
    #logistica-modavo {
        display: flex;
        flex-direction: column;
        margin: 20px 0px;
    }
}

/*CADASTRO*/
@media screen  and (max-width: 900px){
    :root {
        --cor-vermelho: #CA1C2A;
        --cor-azul-1: #0B8CED;
        --cor-azul-2: #0C4B77;
        --cor-cinza: #31353B;
        --cor-branco: #fff;
    }
    #cadastro-lado1 h2{
        color: var(--cor-branco);
    }
    #cadastro-lado1{
        padding-top: 2px;
    }
    .cadastro-logo{
        width: 50%;
    }
    .fundo-cadastro{
       background-image: none;
       background-color: var(--cor-azul-2);
    }
    .container-cadastro{
        box-shadow: none;
    }
    #cadastro-lado2, #cadastro-lado1-btn{
        background-color: var(--cor-branco);
    }
    #cadastro-lado2 .input-cadastro #check-inline{
        padding: 5px;
        align-items: baseline;
        flex-wrap: wrap;
    }
    #cadastro-lado2 .input-cadastro #check-inline label{
        font-size: 1px;
    }
    .cadastro-footer{
        color: #fff;
        margin-top: 60px ;
    }
    #cadastro-lado2 .input1, .input2, .input3, .input4, .input5{
    flex-direction: column;
    }
    #cadastro-lado2 .input-container-cadastro{
        width: 90%;
    }
}
/*CADASTRO*/
@media screen  and (max-width: 450px){
    :root {
        --cor-vermelho: #CA1C2A;
        --cor-azul-1: #0B8CED;
        --cor-azul-2: #0C4B77;
        --cor-cinza: #31353B;
        --cor-branco: #fff;
    }
    .cadastro-logo{
        width: 65%;
    }
    .cadastro{
        justify-content: flex-start;
    }
    #cadastro-lado2 .input1 .input2 .input3 .input4 .input5{
       flex-direction: column;
        
    }
   #cadastro-lado1-btn{
    padding: 40px 5px 10px 5px;
    
   }
   .cadastra-3 {
       width: 90%;
   }
 
}
/*LOGIN*/
@media screen  and (max-width: 680px){
    .login{
        background-image: none;
        background-color: var(--cor-branco);
        overflow-x: hidden;
    }
    .container{
        display: none;
        display: flex;
        flex-direction: column;
    }
    #lados-login{
        display: flex;
        flex-direction: column;
    }
    #lado1{
        width: 100%;
        padding-bottom: 10px;
    }
    #lado2{
        width: 100%;
    }
  
}
/*LOGIN*/
@media screen  and (max-width: 680px){
    .container{
        margin: auto;
    }
    #lados-login{
        box-shadow: none;
    }
    .submit{
        width: 50%;
        margin-bottom: 20px;
    }
}
