*{ 
    padding: 0px;
}
:root {
    --cor-vermelho: #CA1C2A;
    --cor-azul-1: #0B8CED;
    --cor-azul-2: #0C4B77;
    --cor-cinza: #31353B;
    --cor-branco: #fff;
}
#pagina-inicial{
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
  

}
.headerTopo{
    height: 38px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
}
.pull-right{
    float: right;
}
.atendimento {
    text-decoration: none;
    color: #777575;
    display: block;
    min-height: 40px;
    margin: 8px 20px 0 0;
    text-align: center;
    font-size: 16px;
    display: block;
    float: left;
    position: relative;
    transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}
/*ÁREA CLIENTE- LOGIN*/
.cliente {
    text-decoration: none;
    color: #fff;
    background-color: #0f96ae;
    display: block;
    min-height: 40px;
    font-size: 14px;
    float: left;
    padding: 10px 50px;
    position: relative;
    transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}
.cliente:hover {
    color:rgba(255,255,255,0.85);
}

/*WhatsApp*/
.wp {
    text-decoration: none;
    background-color:var(--cor-azul-2);
    color: #fff;
    float: left;
    height: 40px;
    text-align: center;
    font-size: 14px;
    padding: 11px 40px;
    transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}
.wp:hover {
    color:rgba(255,255,255,0.85);
}
/**/
.idioma{
    text-decoration: none;
    background-color:var(--cor-azul-2);
    float: right;
    font-size: 14px;
    padding: 10px 5px;
    transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}
/**/
#menu-fixo{
    z-index: 9999;
    width: 100%;
    color: var(--cor-branco);
    background-color: var(--cor-vermelho);
    font-size: 1.2rem;
    height: 75px;  
    position:sticky;
    top:0;
}
.logo{
    background-position: center center;
    position: absolute;
    width: 18%;
}
/*PRIMEIRO MENU*/
.primeiro-menu ul {
    list-style-type: none; 
    padding:  10px;
    display: flex;
    justify-content:flex-end;
    text-align: center;
    flex-wrap: wrap;
}
/*SERVIÇO*/
.primeiro-menu ul li {
    border-radius: 25% 10%;
    margin: 0px 5px;
    display:inline;  
    position: relative;
}
/*SERVIÇO A*/
.primeiro-menu ul li a {  
    color:rgba(255,255,255,0.85);
    border: none;
    text-decoration: none;
    display: inline-block;
    padding: 5px;
    transition: background .3s;
}
/*HOVER SERVIÇOS*/
.primeiro-menu ul li:hover {
    padding: 10px;
}
/* HOME*/
.primeiro-menu  a {
    color:rgba(255,255,255,0.85);
    border: none;
    text-decoration: none;
    display: inline-block;
    padding: 5px;
    transition: background .3s;
}
/*HOVER HOME*/
.primeiro-menu a:hover {
    color:var(--cor-branco);  
}
.primeiro-menu ul ul li a:hover {
    background-color:var(--cor-vermelho);
}
/*sub menu*/
.primeiro-menu ul ul {
    color: #3a82ef;
    display: none;
}
/*CAIXA DROPDOWN SERVIÇO*/
.primeiro-menu ul ul {
    border-radius: 1px;
    padding: 0px;
    font-size: 1rem;
    width: 180px;
}
/*LISTA DROPDOWN SERVIÇO*/
.primeiro-menu ul ul li a {
    font-weight: bold;
    color:var(--cor-azul-2);
    display: block;
}
/*LISTA DROPDOWN HOVER*/
.primeiro-menu ul li:hover ul {
    background-color:rgba(255, 255, 255, 0.796);
    display: block;  
}
/*BANNER*/
.img-gif{
    width: 100%;
}
.parte2-pagina-principal h2{
    text-align: center;
    margin-top: 50px;
    color: var(--cor-vermelho);
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.parte2-pagina-principal h4{
    text-align: center;
    color: var(--cor-azul-2);
    font-size: 1.8rem;
    font-weight: bold;
    letter-spacing: 2px;
    margin-bottom: 70px;
}
/*IMAGEM*/
.parte2-img{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75%;
}
/*PLATAFORMA DE COMUNICAÇÃO E SERVIÇO*/
#pagsobre-servico h3{
    font-size: 1.8rem;
    font-weight: bold;
}
#pagsobre-servico h5{
    letter-spacing: 2px;
    color: var(--cor-azul-1);
}
#pagsobre-servico p{
    text-align:justify;
    font-size: 1.3rem;
}
#pagsobre-servico .parte2-btn{
    background-color:var(--cor-azul-2);
    border: none;
    border-radius: 5px;
    text-transform: uppercase;
    width: 25%;
    letter-spacing: 2px;
    font-size: 0.8rem;
    padding: 10px 2px;
    margin: 0px 10px;
    text-align: center; 
    position: relative;
    transition: 0.6s;
}
#pagsobre-servico .parte2-btn:hover {
    background-color:var(--cor-azul-1); 
}
#pagsobre-servico .parte2-btn a{
    font-weight: bold;
    text-decoration: none;
    color: var(--cor-branco);
}
#bloco1-pagina-principal{
    padding: 20px 50px;
    margin: 30px 0px;
}
/*CARDS*/
#fundo-cards{
    background-image: url('../img/fundo.jpg');
    background-repeat: no-repeat;
    min-height: 350px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
    overflow: hidden;
}
#content {
    max-width: 1024px;
    width: 100%;
    padding: 0 4%;
    padding-top: 250px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
#content a{
    text-decoration: none;
}
@media screen and (max-width: 767px) {
      #content {
        padding-top: 300px;
        flex-direction: column;
        flex-wrap: wrap;
      }
}
.card {
    width: 100%;
    max-width: 300px;
    min-width: 200px;
    height: 200px;
    background: rgba(255, 255, 255, 0.316);
    margin: 10px 50px ;
    border-radius: 5px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.24);
    font-size: 1rem;
    transition: all 0.3s ease;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    transition: all 0.3s ease;
}
.icons-cards-servicos {
    margin: 0 auto;
    font-size: 2rem;
    width: 100%;
    height: 80px;
    max-width: 80px;
    background: linear-gradient(90deg, #63b2ef 0%,#0B8CED 50%, #0C4B77 50%);
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    transition: all 0.8s ease;
    background-position: 0px;
    background-size: 200px;
}  
.card .title {
    width: 100%;
    margin: 0;
    text-align: center;
    margin-top: 30px;
    color:var(--cor-cinza);
    font-weight:bold;
    text-transform: uppercase;
    letter-spacing: 2px;
}  
.card .text {
    width: 80%;
    margin: 0 auto;
    font-size: 13px;
    text-align: center;
    margin-top: 20px;
    color: #000;
    opacity: 0;
    max-height: 0;
    transition: all 0.3s ease;
}  
.card:hover {
    background-color: var(--cor-branco);
    height: 270px;
}  
.card:hover .info {
    height: 90%;
}
.card:hover .text {
    transition: all 0.3s ease;
    opacity: 1;
    max-height: 40px;
} 
.card:hover .icons-cards-servicos{
    background-position: -120px;
    transition: all 0.3s ease;
}  
.card:hover .icons-cards-servicosi {
    background-color: #fff;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    opacity: 1;
    transition: all 0.3s ease;
}
#bloco3-tela-principal-fundo{
    background-image: url(../img/fundo-inv.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position:top;
    background-repeat: no-repeat;
    background-size: cover;
   
}
#bloco3-tela-principal{
    background-color: var(--cor-vermelho);
    color:var(--cor-branco);
    padding: 50px 40px;
}
#bloco3-tela-principal img{
    padding: 0px 20px 0px 10px;
}
#bloco3-tela-principal p{
    font-size: 1.3rem;
}
#bloco3-tela-principal h3{
    font-size: 1.8rem;
    padding: 5px;
}
#bloco3-tela-principal #pagsobre .btn2-saber{
    background-color:var(--cor-branco);
    border: none;
    border-radius: 5px;
    text-transform: uppercase;
    width: 25%;
    letter-spacing: 2px;
    font-size: 0.8rem;
    padding: 10px 2px;
    margin: 0px 10px;
    text-align: center; 
    position: relative;
    transition: 0.6s;
}
#bloco3-tela-principal #pagsobre .btn2-saber a{
    font-weight: bold;
    text-decoration: none;
    color: var(--cor-vermelho);
}
#bloco3-tela-principal #pagsobre .btn2-saber a:hover{
    font-weight: bold;
    text-decoration: none;
    color: var(--cor-vermelho);
}


/*TELA DE LOGIN*/
.login {
    background-image: url('../img/fundo.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position-y: bottom;
    height: auto;
    overflow: hidden;
   
}
.container{
    margin-top: 50px;
    width: 800px;
    border-radius: 5px;
    box-shadow: 0 8px 32px  rgba(31, 38, 135, 0.2);  
    display: flex;
    flex-wrap: wrap;
} 
#lado1{
    padding: 50px 40px 2px 29px    ;
    color: var(--cor-branco);
    background-color:var(--cor-azul-2);
    
}
#lado1 h2{
    color: var(--cor-branco);
    letter-spacing: 0.5px;

}
.icon{
    font-size: 1.2rem;
    margin: 3px;
    color:var(--cor-branco);
}
.icon:hover{
     color: rgba(255, 255, 255, 0.78);
}
#lado2{
    padding:  50px 29px 29px 37px;
    background: rgba(255, 255, 255, 0.831);
    backdrop-filter: blur( 3.5px );
    -webkit-backdrop-filter: blur( 13.5px );
}
#lado2 h3{
    color: var(--cor-cinza);
    letter-spacing: 2px;
    font-size: 2rem;
}
.input-container {
    height: 50px;
    position: relative;
    width: 100%;
    display: flex;
    justify-content:flex-start;
    align-items: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
}
.cpf {
    margin-top: 30px;
}
.icon1{
    position: absolute;
    transition: all 0.35s;
    top:70%;
    right: 20px;
    transform: translateY(-50%);
    color: rgba(0, 0, 0, 0.354);
} 
.icon2{
    position: absolute;
    transition: all 0.35s;
    top:70%;
    cursor: pointer;
    right: 20px;
    transform: translateY(-50%);
    color: rgba(0, 0, 0, 0.354);
} 
#unlock{
    display: none;
}
#unlock2{
    display: none;
}
.senha{
    margin-top: 30px;
}
.input{
    background-color: rgba(255, 255, 255, 0);
    border:0;
    caret-color:var(--cor-vermelho);
    color: #000;
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.354);
    font-size: 18px;
    height: 100%;
    width: 100%;
    outline: 0;
    padding: 2px 5px ;    
}
.vago { 
    border-radius: 10px;
    height: 20px;
    left: 20px;
    position: absolute;
    top: -20px;
    transform: translateY(0);
    transition: transform 200ms;
    width: 96px;
} 
/*INPUT COM A BORDAR VERMELHA*/
.input:focus,
.input:not(:placeholder-shown) {
    transform: translateY(8px);
   
}
.input:focus ~ .vago,
.input:not(:placeholder-shown) ~ .vago {
    transform: translateY(8px);
}
.placeholder {
    color: #282831;
    line-height: 14px;
    pointer-events: none;
    position: absolute;
    left: 20px;
    transform-origin: 0 50%;
    transition: transform 200ms, color 200ms;
    top: 20px;
    background-color:#ffffff00;
}
.input:focus ~ .placeholder,
.input:not(:placeholder-shown) ~ .placeholder {
    transform: translateY(-20px) translateX(10px) scale(0.75);
}
.input:not(:placeholder-shown) ~ .placeholder {
    color: #000000;
}  
.input:focus ~ .placeholder {
    color: #000;
}
  /*BUTTON TELA DE LOGIN*/
#btn{
    margin: 20px 10px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.submit { 
   background-color:var(--cor-vermelho);
    border: none;
    text-transform: uppercase;
    width: 25%;
    letter-spacing: 2px;
    font-size: 0.8rem;
    padding: 8px;
    margin: 0px 10px;
    text-align: center; 
    position: relative;
    transition: 0.6s;
}
.submit:hover {
    background-color:var(--cor-azul-2); 
}
.submit a{
    font-weight: bold;
    text-decoration: none;
    color: var(--cor-branco);
}
.cadastra{
    border: none;
    position: relative;
    padding: 10px 15px;
    margin: 10px;
    background-color:rgba(255, 255, 255, 0);
    color:var(--cor-vermelho);
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 0.8rem;
    overflow: hidden;
    transition: 0.5s;
}
.cadastra a{
    font-weight: bold;
    text-decoration: none;
    color: var(--cor-vermelho);
}
.cadastra a:hover {
    color: var(--cor-azul-2);
    transition-delay: 0.1s;
}
.cadastra:before{
    content: '';
    position: absolute;
    top:0;
    left: 0;
    width: 10px;
    height: 10px;
    border-top: 2px solid var(--cor-vermelho);
    border-left: 2px solid var(--cor-vermelho);
    transition: 0.5s;
    transition-delay: 0.3s;
}
.cadastra:hover:before{ 
    width: 100%;
    height: 100%;
    border-top: 2px solid var(--cor-azul-2);
    border-left: 2px solid var(--cor-azul-2);
    transition-delay: 0.4s;
}
.cadastra:after{
    color:var(--cor-azul-2);
    content: '';
    position: absolute;
    bottom:0px;
    right: 0px;
    width: 10px;
    height: 10px;
    border-bottom: 2px solid var(--cor-vermelho);
    border-right: 2px solid var(--cor-vermelho);
    transition: 0.5s;
    transition-delay: 0.3s;
}
.cadastra:hover:after{
    width: 100%;
    height: 100%;
    border-bottom: 2px solid var(--cor-azul-2);
    border-right: 2px solid var(--cor-azul-2);
    transition-delay: 0.4s;
}
.span{
    font-size: 0.7rem;
}
.span a{
    text-decoration: none;
    font-size: 0.7rem;
    color: var(--cor-vermelho);
}
.span a:hover{
    text-decoration: underline;
    color: var(--cor-azul-2);
}
.login-footer{
    background-color: rgba(255, 255, 255, 0);
    color: var(--cor-azul-2);
    font-size: 0.8rem;
    margin: 40px 0px 5px 0px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}


/*BTN TELA DE ÁREA DO CLIENTE*/
.fundo-area-cliente{
    background-image: url('../img/fundo.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    height: 769px;
    overflow: hidden;
    background-position-y: bottom;
}
.area-cliente h2{
    font-size: 2rem;
}
.area-cliente h4{
    font-size: 1.7rem;
}
.area-cliente p{
    font-size: 1.3rem;
   text-align: justify;
}
.area-cliente-logo{
    margin: 5px;
    width: 30%;
    display: flex;
    flex-wrap: wrap;
}
#btn{
    margin: 20px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.submit-2 { 
    border: none;
    text-transform: uppercase;
    width: 20%;
    letter-spacing: 2px;
    font-size: 0.8rem;
    padding: 8px;
    margin: 0px 10px;
    text-align: center; 
    position: relative;
    transition: 0.6s;
   transition: all 0.2s linear 0s;
 }       
.submit-2:before { 
    font-size: 15px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 0;
    top: 0;
    opacity: 0;
    height: 100%;
    width: 40px;
    transition: all 0.2s linear 0s;
}
.submit-2:hover {
    text-indent: -20px;
} 
.submit-2:before {
    opacity: 1;
    text-indent: 0px;
}
.submit-2 a{
    font-weight: bold;
    text-decoration: none;
    color: var(--cor-azul-2);
}
submit-2 a:before {
    content: "\f055";
    font-family: FontAwesome;
    color:rgba(0, 0, 0, 0.354);
    right:0;
    position:absolute;

}
.cadastra-2{
    width: 25%;
    border: none;
    position: relative;
    padding: 10px;
    margin: 10px;
    background-color: var(--cor-azul-2);
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 0.8rem;
}
.cadastra-2 a{
    font-weight: bold;
    text-decoration: none;
    color: var(--cor-branco);
}
.cadastra-2 a:hover {
    color: var(--cor-branco);
    transition-delay: 0.1s;
}
.cadastra-2:before{
    content: '';
    position: absolute;
    top:0;
    left: 0;
    width: 10px;
    height: 10px;
    border-top: 2px solid var(--cor-branco);
    border-left: 2px solid var(--cor-branco);
    transition: 0.5s;
    transition-delay: 0.3s;
}
.cadastra-2:hover:before{ 
    width: 100%;
    height: 100%;
    border-top: 2px solid var(--cor-branco);
    border-left: 2px solid var(--cor-branco);
    transition-delay: 0.4s;
}
.cadastra-2:after{
    color:var(--cor-azul-2);
    content: '';
    position: absolute;
    bottom:0px;
    right: 0px;
    width: 10px;
    height: 10px;
    border-bottom: 2px solid var(--cor-branco);
    border-right: 2px solid var(--cor-branco);
    transition: 0.5s;
    transition-delay: 0.3s;
}
.cadastra-2:hover:after{
    width: 100%;
    height: 100%;
    border-bottom: 2px solid var(--cor-branco);
    border-right: 2px solid var(--cor-branco);
    transition-delay: 0.4s;
}
.cliente-footer{
    background-color: rgba(255, 255, 255, 0);
    color: var(--cor-azul-2);
    font-size: 0.8rem;
    margin-top: 143px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}


/*TELA CADASTRO*/
.fundo-cadastro {
    background-image: url('../img/fundo.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position-y: bottom;
    height: auto;
    
}
.cadastro-logo{
    margin: 5px;
    width: 40%;
    display: flex;
    flex-wrap: wrap;
}
.cadastro{
    display: flex;
    align-items: center;
    justify-content: center;
}
.container-cadastro{
    margin-top: 50px;
    width: 800px;
    border-radius: 5px;
    box-shadow: 0px 8px 32px  rgba(31, 38, 135, 0.386);  
    display: flex;
    flex-wrap: wrap;
} 
#cadastro-lado1{
    padding: 50px 29px 2px 29px;
    color: var(--cor-branco);
    background-color:var(--cor-azul-2);
}
#cadastro-lado1 h2{
    color: var(--cor-branco);
    letter-spacing: 0.5px;

}
.icon{
    font-size: 1.2rem;
    margin: 3px;
    color:var(--cor-branco);
}
#cadastro-lado2{
    padding:  20px 29px 29px 29px;
    color: var(--cor-branco);
    background-color:var(--cor-azul-2);   
}
#cadastro-lado2 .input1, .input2, .input3, .input4, .input5{
    display: flex;
    margin: 0px 5px;
    flex-direction: row;
    justify-content: space-around;
}
#cadastro-lado2 h4{
    letter-spacing: 2px;
    font-size: 1.7rem;
}

#cadastro-lado2 .input-container-cadastro{
    height: 50px;
    position: relative;
    margin-top: 15px;
    width: 45%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
#cadastro-lado2 input[type="date"]#data-nascimento{ 
    color: var(--cor-branco);
}
#cadastro-lado2 .icon2{
    position: absolute;
    transition: all 0.35s;
    top:70%;
    cursor: pointer;
    right: 20px;
    transform: translateY(-50%);
    color: rgba(255, 255, 255, 0.354);
} 
#unlock{
    display: none;
}
#cadastro-lado2 .input-cadastro, #check-inline{
    display: flex;
    align-items: center;
}
.form-check input #feminino #masculino #outros [type="radio"]{ 
    color: #000000;
   border: none;
}
#cadastro-lado2 .input-cadastro, #check-inline label{
    padding: 5px;
    font-size: 1.2rem;
}
#cadastro-lado2 .input-cadastro{
    background-color: rgba(255, 255, 255, 0);
    border:0;
    caret-color:var(--cor-branco);
    color:var(--cor-branco);
    border-bottom: 0.5px solid rgba(255, 255, 255, 0.81);
    font-size: 18px;
    height: 100%;
    width: 100%;
    outline: 0;
    padding: 2px 5px ;  
}
#cadastro-lado2 .vago { 
    border-radius: 10px;
    height: 20px;
    left: 20px;
    position: absolute;
    top: -20px;
    transform: translateY(0);
    transition: transform 200ms;
    width: 96px;
} 
/*INPUT COM A BORDAR VERMELHA*/
#cadastro-lado2 .input-cadastro:focus,
.input-cadastro:not(:placeholder-shown) {
    transform: translateY(8px);
    border-bottom: 0.5px solid rgba(255, 255, 255, 0.81);
}
#cadastro-lado2 .input-cadastro:focus ~ .vago,
.input-cadastro:not(:placeholder-shown) ~ .vago {
    transform: translateY(8px);
}
#cadastro-lado2 .placeholder {
    color: #ffffff;
    line-height: 14px;
    pointer-events: none;
    position: absolute;
    left: 20px;
    transform-origin: 0 50%;
    transition: transform 200ms, color 200ms;
    top: 20px;
    background-color:#ffffff00;
}
#cadastro-lado2 .input-cadastro:focus ~ .placeholder,
.input-cadastro:not(:placeholder-shown) ~ .placeholder {
    transform: translateY(-20px) translateX(10px) scale(0.75);
}
#cadastro-lado2 .input-cadastro:not(:placeholder-shown) ~ .placeholder {
    color: #ffffff;
}  
#cadastro-lado2 .input-cadastro:focus ~ .placeholder {
    color: rgb(255, 255, 255);
}
#cadastro-lado1-btn{
    padding: 50px 40px 10px 29px;
    color: var(--cor-branco);
    background-color:var(--cor-azul-2);
}
.cadastro-footer{
    background-color: rgba(255, 255, 255, 0);
    color: var(--cor-azul-2);
    font-size: 0.8rem;
    margin: 40px 0px 5px 0px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}